html,
body {
  font-family: "Inter", system-ui, -apple-system, sans-serif;
  font-weight: var(--font-weight-medium);
  font-size: 16px;
  min-height: 100%;
  height: 100%;
  overflow: hidden; /* 👈 ключ */
}

.background {
  position: fixed;
  inset: 0;
  z-index: 0;
  pointer-events: none;

  background:
    radial-gradient(circle at 20% 20%, #0f172a, #020617 70%),
    linear-gradient(180deg, #020617 0%, #020617 100%);
}

.background::before {
  background:
    radial-gradient(
      600px 600px at 80% 10%,
      rgba(56, 189, 248, 0.10),
      transparent 70%
    ),
    radial-gradient(
      800px 800px at 30% 40%,
      rgba(125, 211, 252, 0.08),
      transparent 75%
    ),
    radial-gradient(
      400px 400px at 70% 70%,
      rgba(56, 189, 248, 0.06),
      transparent 70%
    );

  filter: blur(140px);
}

.background::after {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;

  background:
    repeating-linear-gradient(
      to right,
      rgba(56, 189, 248, 0.08) 0 1px,
      transparent 1px 120px
    ),
    repeating-linear-gradient(
      to bottom,
      rgba(56, 189, 248, 0.08) 0 1px,
      transparent 1px 120px
    );

  opacity: 0.6;

  

  mask-image: radial-gradient(ellipse at center, black 55%, transparent 85%);
  -webkit-mask-image: radial-gradient(
    ellipse at center,
    black 55%,
    transparent 85%
  );
}

main {
  position: relative;
  z-index: 2;
}

:root {
  --color-black-1: #020617;
  --color-black-2: #020617;
  --color-black-3: #020617;

  --color-blue: #7dd3fc;     /* основной */
  --color-blue-soft: #bae6fd; /* светлый акцент */

  --color-white-1: #e2e8f0;
  --color-grey-1: #94a3b8;
  --color-purple: #2563eb;

  --color-white-1: #e6f1ff;
  --color-grey-1: #94a3b8;

  --font-weight-thin: 100;
  --font-weight-extra-light: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-weight-black: 900;

  --font-size-xs: 12px;
  --font-size-sm-1: 14px;
  --font-size-sm-2: 15px;
  --font-size-base: 16px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;
  --font-size-2xl: 24px;
  --font-size-3xl: 32px;
  --font-size-4xl: 36px;
  --font-size-5xl: 40px;
}
