*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  color: var(--color-white-1);
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root {
  position: relative;
  z-index: 1;
}

a {
  text-decoration: none;
}

button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: none;
  background: none;
}
